/* css */
body {
  background-color: lightblue;
}

@font-face {
  font-family: "Futura Press";
  src: url(WagashiSerif_Beta1.otf) format("otf");
}

h1 {
  font-family: "Futura Press", sans-serif;
}
.text {
    margin-top: 80px;
    margin-left: 450px;
}

/* before image */
.nicBefore {
  position: relative;
  top: 200px;
  left: 500px;
}
.marlboroBody {
  position: relative;
  z-index: 3;
}
.marlboroTab {
  position: relative;
  z-index: 4;
  top: 25px;
}
.marlboroLid {
  position: relative;
  z-index: 3;
  top: -147px;
  left: -139px;
}

/* after image */
.nicAfter {
  position: relative;
  top: 49px;
  left: 500px;
}
.nicBody {
  position: relative;
  z-index: 2;
}
.nicProducts {
  position: relative;
  z-index: 1;
  top: -123px;
  left: -135px;
}

.marlboroTab:hover {
  opacity: 0;
}
.marlboroTab:hover + .disappear {
  opacity: 0;
}
