/* css */
body {
  background-color: lightblue;
  display: table-cell;
  vertical-align: middle;
}
html {
    display: table;
    margin: auto;
}

@font-face {
  font-family: "MarlboroFont";
  src: url(Marlboro.ttf);
}

h1 {
  font-family: "MarlboroFont";
  font-size: 40px;
}  

/* before image */
.nicBefore {
  position: relative;
  top: 200px;
}
.marlboroBody {
  position: relative;
  z-index: 3;
}
.marlboroTab {
  position: relative;
  z-index: 4;
  top: 35px;
}
.marlboroLid {
  position: relative;
  z-index: 3;
  top: -253px;
  left: -224px;
}

/* after image */
.nicAfter {
  position: relative;
  top: -58px;
}
.nicBody {
  position: relative;
  z-index: 2;
}
.nicProducts {
  position: relative;
  z-index: 1;
  top: -210px;
  left: -220px;
}

.marlboroTab:hover {
  opacity: 0;
}
.marlboroTab:hover + .disappear {
  opacity: 0;
}
